# Created by .ignore support plugin (hsz.mobi)
*.iml
/.idea/
/gradle/
/.gradle/
/build/
/local.properties
/*/build/
keystore.properties
android_release.jks
ellasocket-release.apk
ellasocket-debug.apk
